# Exporation mapping table movie - director

In [1]:
import pandas as pd
import duckdb
from collections import Counter
import numpy as np

In [2]:
# Load mapping table movie to director
directing = pd.read_json('data/directing.json')

# Replace missing values by legit missing values
mapping_movie_director = directing.replace('\\N', np.nan)
mapping_movie_director = mapping_movie_director.dropna()

In [3]:
# Count the directors per movie, in descending order
mapping_movie_director.groupby('movie').count().sort_values('director', ascending=False)

           director
movie
tt1687247        35
tt1935896        27
tt0401711        21
tt0099273        13
tt2275743        13
...             ...
tt0137439         1
tt0137523         1
tt0137799         1
tt0138074         1
tt9911196         1

[9998 rows x 1 columns]

In [4]:
# My suggestion is to only select first select top 5 directors
grouped_mapping_movie_director = mapping_movie_director.groupby(by='movie').count().sort_values(by='director', ascending=False)
Counter(grouped_mapping_movie_director['director'])

Counter({35: 1,
         27: 1,
         21: 1,
         13: 3,
         12: 2,
         11: 1,
         10: 2,
         8: 3,
         7: 5,
         6: 8,
         5: 11,
         4: 16,
         3: 75,
         2: 663,
         1: 9206})

In [5]:
# Select first 5 Concat directors per movie
top_5_directors_per_movie = mapping_movie_director.groupby('movie').head(5).groupby(['movie'], as_index=False).agg({'director': ', '.join})
movie_and_directors = pd.concat([top_5_directors_per_movie['movie'], top_5_directors_per_movie['director'].str.split(', ', expand=True)], axis=1)
movie_and_directors.rename(columns={0: "director 1", 1: "director 2", 2: "director 3", 3: "director 4", 4: "director 5"})

          movie director 1 director 2 director 3 director 4 director 5
0     tt0003740  nm0665163       None       None       None       None
1     tt0008663  nm0803705       None       None       None       None
2     tt0009369  nm0428059  nm0949648       None       None       None
3     tt0010307  nm0304098       None       None       None       None
4     tt0010600  nm0523932       None       None       None       None
...         ...        ...        ...        ...        ...        ...
9993  tt9850344  nm0284774       None       None       None       None
9994  tt9850386  nm0550881       None       None       None       None
9995  tt9900782  nm7992231       None       None       None       None
9996  tt9904802  nm0052054       None       None       None       None
9997  tt9911196  nm0631590       None       None       None       None

[9998 rows x 6 columns]