# Rating prediction

In [127]:
# Import necessary libraries
import pandas as pd
import numpy as np
import json
import duckdb

# Machine learning libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn import preprocessing

In [128]:
# create a connection to a file called 'imdb_reviews.db'
con = duckdb.connect('imdb_reviews.db')

In [129]:
con.execute("DESCRIBE").fetchdf()

,table_name,column_names,column_types,temporary
0,budget_movie_data,"[release_date, movie, production_budget, domes...","[TIMESTAMP, VARCHAR, VARCHAR, VARCHAR, VARCHAR...",False
1,dummie_director,"[movie, director_1_dum, director_2_dum, direct...","[VARCHAR, UTINYINT, UTINYINT, UTINYINT, UTINYI...",False
2,dummie_director_all,"[movie, director_nm0000005, director_nm0000008...","[VARCHAR, UTINYINT, UTINYINT, UTINYINT, UTINYI...",False
3,dummie_director_top_5,"[movie, director_1_dum, director_2_dum, direct...","[VARCHAR, UTINYINT, UTINYINT, UTINYINT, UTINYI...",False
4,dummie_writer,"[movie, writer_1_dum, writer_2_dum, writer_3_d...","[VARCHAR, UTINYINT, UTINYINT, UTINYINT, UTINYI...",False
5,dummie_writer_all,"[movie, writer_nm0000005, writer_nm0000019, wr...","[VARCHAR, UTINYINT, UTINYINT, UTINYINT, UTINYI...",False
6,dummie_writer_top_5,"[movie, writer_1_dum, writer_2_dum, writer_3_d...","[VARCHAR, UTINYINT, UTINYINT, UTINYINT, UTINYI...",False
7,imdb_review_test,"[tconst, primaryTitle, originalTitle, startYea...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
8,imdb_review_train,"[tconst, primaryTitle, originalTitle, startYea...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
9,imdb_review_validation,"[tconst, primaryTitle, originalTitle, startYea...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
10,movie_directing,"[movie, director_1, director_2, director_3, di...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
11,movie_writer,"[movie, writer_1, writer_2, writer_3, writer_4...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
12,oscars,"[year_film, year_ceremony, ceremony, category,...","[BIGINT, BIGINT, BIGINT, VARCHAR, VARCHAR, VAR...",False

# Loading train, validation and test set

In [130]:
# Load train data set
df_train = con.execute("""SELECT imdb_review_train.tconst,
                            imdb_review_train.startYear,
                            imdb_review_train.primaryTitle,
 
                           imdb_review_train.runtimeMinutes,
                           imdb_review_train.numVotes,
                           
                           oscars.year_film,
                           oscars.film,
                           oscars.name,
                           oscars.winner,
                           
                           dummie_writer_all.*,
                           dummie_director_all.*,
                           
                           budget_movie_data.production_budget,
                           budget_movie_data.domestic_gross,
                           budget_movie_data.worldwide_gross,
                           
                           imdb_review_train.label
                           
                    FROM imdb_review_train
                    
                    -- Merge the oscar information
                    LEFT JOIN oscars
                    ON imdb_review_train.startYear = oscars.year_film 
                    AND imdb_review_train.primaryTitle = oscars.film
                    
                    -- Merge the writer information
                    LEFT JOIN dummie_writer_all
                    ON imdb_review_train.tconst = dummie_writer_all.movie  
                    
                    -- Merge the director information
                    LEFT JOIN dummie_director_all
                    ON imdb_review_train.tconst = dummie_director_all.movie  
                    
                    -- Merge the budget information
                    LEFT JOIN budget_movie_data
                    ON imdb_review_train.startYear = budget_movie_data.release_year 
                    AND imdb_review_train.primaryTitle = budget_movie_data.movie
                    
                    """).fetchdf()
df_train

,tconst,startYear,primaryTitle,runtimeMinutes,numVotes,year_film,film,name,winner,movie,...,director_nm9825418,director_nm9902054,director_nm9942830,director_nm9955258,director_nm9958352,director_nm9985316,production_budget,domestic_gross,worldwide_gross,label
0,tt0056217,1962,the man who shot liberty valance,123,73331.0,1962.0,the man who shot liberty valance,edith head,False,tt0056217,...,0.0,0.0,0.0,0.0,0.0,0.0,"$3,200,000","$8,000,000","$8,000,000",True
1,tt0057163,1963,hud,112,21102.0,1963.0,hud,paul newman,False,tt0057163,...,0.0,0.0,0.0,0.0,0.0,0.0,"$2,500,000","$10,000,000","$10,000,000",True
2,tt0070735,1973,the sting,129,NaN,1973.0,the sting,robert redford,False,tt0070735,...,0.0,0.0,0.0,0.0,0.0,0.0,"$5,500,000","$159,616,327","$159,616,327",True
3,tt0087892,1984,a passage to india,164,NaN,1984.0,a passage to india,judy davis,False,tt0087892,...,0.0,0.0,0.0,0.0,0.0,0.0,"$27,500,000","$27,187,653","$27,187,896",True
4,tt0108551,1993,whats love got to do with it,118,20131.0,1993.0,whats love got to do with it,laurence fishburne,False,tt0108551,...,0.0,0.0,0.0,0.0,0.0,0.0,"$15,000,000","$39,100,956","$39,100,956",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7942,tt0086907,1984,antonio gaudi,72,1557.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,True
7943,tt0117293,1996,paradise lost the child murders at robin hood ...,150,16296.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,True
7944,tt0847817,2007,helvetica,80,7786.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,True
7945,tt4881578,2020,zappa,129,2561.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,True
7946,tt11290556,2020,the way i see it,100,1663.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,True

In [135]:
# Load test data set
df_test = con.execute("""SELECT imdb_review_test.tconst,
                            imdb_review_test.startYear,
                            imdb_review_test.primaryTitle,
 
                           imdb_review_test.runtimeMinutes,
                           imdb_review_test.numVotes,
                           
                           oscars.year_film,
                           oscars.film,
                           oscars.name,
                           oscars.winner,
                           
                           dummie_writer_all.*,
                           dummie_director_all.*,
                           
                           budget_movie_data.production_budget,
                           budget_movie_data.domestic_gross,
                           budget_movie_data.worldwide_gross
                           
                    FROM imdb_review_test
                    
                    -- Merge the oscar information
                    LEFT JOIN oscars
                    ON imdb_review_test.startYear = oscars.year_film 
                    AND imdb_review_test.primaryTitle = oscars.film
                    
                    -- Merge the writer information
                    LEFT JOIN dummie_writer_all
                    ON imdb_review_test.tconst = dummie_writer_all.movie  
                    
                    -- Merge the director information
                    LEFT JOIN dummie_director_all
                    ON imdb_review_test.tconst = dummie_director_all.movie  
                    
                    -- Merge the budget information
                    LEFT JOIN budget_movie_data
                    ON imdb_review_test.startYear = budget_movie_data.release_year 
                    AND imdb_review_test.primaryTitle = budget_movie_data.movie
                    
                    """).fetchdf()
df_test

,tconst,startYear,primaryTitle,runtimeMinutes,numVotes,year_film,film,name,winner,movie,...,director_nm9818807,director_nm9825418,director_nm9902054,director_nm9942830,director_nm9955258,director_nm9958352,director_nm9985316,production_budget,domestic_gross,worldwide_gross
0,tt0038650,1946,its a wonderful life,130,427625.0,1946.0,its a wonderful life,james stewart,False,tt0038650,...,0,0,0,0,0,0,0,"$3,180,000","$12,241,691","$16,420,592"
1,tt0021730,1931,the champ,86,3057.0,1931.0,the champ,wallace beery,True,tt0021730,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,tt0028356,1936,these three,93,2627.0,1936.0,these three,bonita granville,False,tt0028356,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,tt0027657,1936,the garden of allah,79,1519.0,1936.0,the garden of allah,eric g stacey,False,tt0027657,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,tt0031619,1939,the man in the iron mask,113,1662.0,1939.0,the man in the iron mask,lud gluskin lucien moraweck,False,tt0031619,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,tt8991264,2019,hớaxed,125,1302.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1082,tt9008642,2017,notuku potu,121,4423.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1083,tt0135641,1996,sapoot,158,1107.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1084,tt0256408,2001,startupcom,107,3386.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1085,tt5097070,2016,dancer,85,2851.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [136]:
# Load validation data set
df_validation = con.execute("""SELECT imdb_review_validation.tconst,
                            imdb_review_validation.startYear,
                            imdb_review_validation.primaryTitle,
 
                           imdb_review_validation.runtimeMinutes,
                           imdb_review_validation.numVotes,
                           
                           oscars.year_film,
                           oscars.film,
                           oscars.name,
                           oscars.winner,
                           
                           dummie_writer_all.*,
                           dummie_director_all.*,
                           
                           budget_movie_data.production_budget,
                           budget_movie_data.domestic_gross,
                           budget_movie_data.worldwide_gross
                           
                    FROM imdb_review_validation
                    
                    -- Merge the oscar information
                    LEFT JOIN oscars
                    ON imdb_review_validation.startYear = oscars.year_film 
                    AND imdb_review_validation.primaryTitle = oscars.film
                    
                    -- Merge the writer information
                    LEFT JOIN dummie_writer_all
                    ON imdb_review_validation.tconst = dummie_writer_all.movie  
                    
                    -- Merge the director information
                    LEFT JOIN dummie_director_all
                    ON imdb_review_validation.tconst = dummie_director_all.movie  
                    
                    -- Merge the budget information
                    LEFT JOIN budget_movie_data
                    ON imdb_review_validation.startYear = budget_movie_data.release_year 
                    AND imdb_review_validation.primaryTitle = budget_movie_data.movie
                    
                    """).fetchdf()
df_validation

,tconst,startYear,primaryTitle,runtimeMinutes,numVotes,year_film,film,name,winner,movie,...,director_nm9818807,director_nm9825418,director_nm9902054,director_nm9942830,director_nm9955258,director_nm9958352,director_nm9985316,production_budget,domestic_gross,worldwide_gross
0,tt0054331,1960,spartacus,197,130879.0,1960.0,spartacus,peter ustinov,True,tt0054331,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"$12,000,000","$30,000,000","$60,000,000"
1,tt0026725,1935,les miserables,108,3512.0,1935.0,les miserables,eric stacey,False,tt0026725,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,tt0031826,1939,the private lives of elizabeth and essex,106,5507.0,1939.0,the private lives of elizabeth and essex,anton grot,False,tt0031826,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,tt0033563,1941,dumbo,64,126856.0,1941.0,dumbo,frank churchill oliver wallace,True,tt0033563,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,tt0036367,1943,so proudly we hail,126,1700.0,1943.0,so proudly we hail,paulette goddard,False,tt0036367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,tt5519566,2016,the first mớnday in may,90,1659.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
951,tt9074318,2019,son rise,49,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
952,tt15085794,2021,untold deal with the devil,77,1856.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
953,tt2079571,2011,roman polanski a film memoir,90,1204.0,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
954,tt16298620,2021,sundarangudu,NaN,1488.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Decision Tree, use XGBoost instead

In [137]:
# from sklearn import preprocessing
# lbl = preprocessing.LabelEncoder()
# df_train['director_1'] = lbl.fit_transform(df_train['director_1'].astype(str))

# # Step 0: Prepare dataset and remove rows with NaN values (not possible with decision tree model)
# df_no_nan = df_train[['runtimeMinutes', 'numVotes','director_1',
#              'label']].dropna()

# # Step 1: Define explanatory and target variables
# X = df_no_nan[['runtimeMinutes', 'numVotes', 'director_1']]
# y = df_no_nan['label']

# # Step 2: Split the dataset into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.25, random_state=0)

# # Step 3: Normalize the data for numerical stability
# ss_train = StandardScaler()
# X_train = ss_train.fit_transform(X_train)

# ss_test = StandardScaler()
# X_test = ss_test.fit_transform(X_test)

# # Step 4: Fit a decision tree model to the training data
# clf = DecisionTreeClassifier()

# # Step 5: Make predictions on the testing data
# clf = clf.fit(X_train,y_train)

# # Step 6: Calculate the accuracy score by comparing the actual values and predicted values.
# predictions = clf.predict(X_test)

# cm = confusion_matrix(y_test, predictions)

# TN, FP, FN, TP = confusion_matrix(y_test, predictions).ravel()

# print('True Positive(TP)  = ', TP)
# print('False Positive(FP) = ', FP)
# print('True Negative(TN)  = ', TN)
# print('False Negative(FN) = ', FN)

# accuracy_score(y_test, predictions)

### Predictions decision tree

In [138]:
# from sklearn import preprocessing
# lbl = preprocessing.LabelEncoder()
# df_test['director_1'] = lbl.fit_transform(df_test['director_1'].astype(str))


# # fill all NaN with 0, THIS NEEDS TO BE CHANGED!! But the model does not accept NaN values
# test_df = df_test.fillna(0)

# ss_train = StandardScaler()
# test_df = ss_train.fit_transform(test_df[['runtimeMinutes', 'numVotes', 'director_1']])

# predictions_test = clf.predict(test_df)

# pd.DataFrame(predictions_test).to_csv('test_results_decisiontree.csv', index=False, header=False)

In [139]:
# from sklearn import preprocessing
# lbl = preprocessing.LabelEncoder()
# df_validation['director_1'] = lbl.fit_transform(df_validation['director_1'].astype(str))


# # fill all NaN with 0, THIS NEEDS TO BE CHANGED!! But the model does not accept NaN values
# validated_df = df_validation.fillna(0)

# ss_train = StandardScaler()
# validated_df = ss_train.fit_transform(validated_df[['runtimeMinutes', 'numVotes', 'director_1']])

# predictions_validation = clf.predict(validated_df)

# predictions_validation

# pd.DataFrame(predictions_validation).to_csv('validation_results_decisiontree.csv', index=False, header=False)

## XGBoost

In [131]:
# Step 1: Define explanatory (fit into model) and target variables
X = df_train.drop(['primaryTitle', 'tconst', 'film', 'name', 'label', 'movie', 'movie_2'], axis=1)
# X = df_train[['startYear', ]]
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Iterate over column names
for column in X:
    if X[column].dtype.kind == 'O':
        X[column]= label_encoder.fit_transform(X[column])
                          
y = df_train['label']

X

,startYear,runtimeMinutes,numVotes,year_film,winner,writer_nm0000005,writer_nm0000019,writer_nm0000027,writer_nm0000033,writer_nm0000036,...,director_nm9818807,director_nm9825418,director_nm9902054,director_nm9942830,director_nm9955258,director_nm9958352,director_nm9985316,production_budget,domestic_gross,worldwide_gross
0,44,123,73331.0,1962.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,91,751,772
1,45,112,21102.0,1963.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,62,23,33
2,55,129,NaN,1973.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129,174,183
3,66,164,NaN,1984.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,87,370,376
4,75,118,20131.0,1993.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38,497,498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7942,66,72,1557.0,NaN,2,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190,835,854
7943,78,150,16296.0,NaN,2,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190,835,854
7944,89,80,7786.0,NaN,2,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190,835,854
7945,102,129,2561.0,NaN,2,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190,835,854
7946,102,100,1663.0,NaN,2,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190,835,854

In [132]:
# Step 2: Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=7)

# Step 3: Create and fit data into the XGB model
#model = XGBClassifier(eval_metric='mlogloss')


model = XGBClassifier(silent=False, 
                      scale_pos_weight=1,
                      learning_rate=0.01,  
                      colsample_bytree = 0.4,
                      subsample = 0.8,
                      objective='binary:logistic', 
                      n_estimators=1000, 
                      reg_alpha = 0.3,
                      max_depth=4, 
                      gamma=10)

eval_set = [(X_test, y_test)]
model.fit(X_train, y_train, early_stopping_rounds=10, eval_metric="logloss", eval_set=eval_set, verbose=True)

# Step 4: Make predictions on the testing data
y_pred = model.predict(X_test)

# Step 5: Calculate the accuracy score by comparing the actual values and predicted values.
accuracy = accuracy_score(y_test, y_pred)
accuracy

/Users/samvandenelsaker/Library/Python/3.9/lib/python/site-packages/xgboost/sklearn.py:835: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(
/Users/samvandenelsaker/Library/Python/3.9/lib/python/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[14:21:52] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-11.0-arm64-cpython-38/xgboost/src/learner.cc:767:
Parameters: { "silent" } are not used.

[0]	validation_0-logloss:0.69105
[1]	validation_0-logloss:0.68902
[2]	validation_0-logloss:0.68823
[3]	validation_0-logloss:0.68654
[4]	validation_0-logloss:0.68528
[5]	validation_0-logloss:0.68405
[6]	validation_0-logloss:0.68310
[7]	validation_0-logloss:0.68223
[8]	validation_0-logloss:0.68132
[9]	validation_0-logloss:0.67995
[10]	validation_0-logloss:0.67843
[11]	validation_0-logloss:0.67757
[12]	validation_0-logloss:0.67572
[13]	validation_0-logloss:0.67485
[14]	validation_0-logloss:0.67358
[15]	validation_0-logloss:0.67229
[16]	validation_0-logloss:0.67111
[17]	validation_0-logloss:0.66988
[18]	validation_0-logloss:0.66833
[19]	validation_0-logloss:0.66711
[20]	validation_0-logloss:0.66539
[21]	validation_0-logloss:0.66462
[22]	validation_0-logloss:0.66393
[23]	validation_0-logloss:0.66282
[24]	validation_0-logloss:0.66170
[25]	validation_0-logloss:0.66004
[26]	validation_0-logloss:0.65838
[27]	validation_0-logloss:0.65712
[28]	validation_0-logloss:0.65551
[29]	validation_0-logloss:0.65442
[30]	validation_0-logloss:0.65427
[31]	validation_0-logloss:0.65325
[32]	validation_0-logloss:0.65263
[33]	validation_0-logloss:0.65190
[34]	validation_0-logloss:0.65078
[35]	validation_0-logloss:0.64924
[36]	validation_0-logloss:0.64778
[37]	validation_0-logloss:0.64629
[38]	validation_0-logloss:0.64533
[39]	validation_0-logloss:0.64473
[40]	validation_0-logloss:0.64346
[41]	validation_0-logloss:0.64203
[42]	validation_0-logloss:0.64192
[43]	validation_0-logloss:0.64012
[44]	validation_0-logloss:0.63896
[45]	validation_0-logloss:0.63841
[46]	validation_0-logloss:0.63788
[47]	validation_0-logloss:0.63653
[48]	validation_0-logloss:0.63565
[49]	validation_0-logloss:0.63433
[50]	validation_0-logloss:0.63385
[51]	validation_0-logloss:0.63269
[52]	validation_0-logloss:0.63092
[53]	validation_0-logloss:0.62971
[54]	validation_0-logloss:0.62810
[55]	validation_0-logloss:0.62690
[56]	validation_0-logloss:0.62517
[57]	validation_0-logloss:0.62455
[58]	validation_0-logloss:0.62373
[59]	validation_0-logloss:0.62255
[60]	validation_0-logloss:0.62105
[61]	validation_0-logloss:0.62050
[62]	validation_0-logloss:0.61954
[63]	validation_0-logloss:0.61837
[64]	validation_0-logloss:0.61760
[65]	validation_0-logloss:0.61664
[66]	validation_0-logloss:0.61608
[67]	validation_0-logloss:0.61450
[68]	validation_0-logloss:0.61401
[69]	validation_0-logloss:0.61327
[70]	validation_0-logloss:0.61185
[71]	validation_0-logloss:0.61036
[72]	validation_0-logloss:0.60943
[73]	validation_0-logloss:0.60872
[74]	validation_0-logloss:0.60805
[75]	validation_0-logloss:0.60668
[76]	validation_0-logloss:0.60585
[77]	validation_0-logloss:0.60517
[78]	validation_0-logloss:0.60431
[79]	validation_0-logloss:0.60424
[80]	validation_0-logloss:0.60375
[81]	validation_0-logloss:0.60248
[82]	validation_0-logloss:0.60182
[83]	validation_0-logloss:0.60079
[84]	validation_0-logloss:0.60028
[85]	validation_0-logloss:0.59968
[86]	validation_0-logloss:0.59825
[87]	validation_0-logloss:0.59779
[88]	validation_0-logloss:0.59734
[89]	validation_0-logloss:0.59697
[90]	validation_0-logloss:0.59642
[91]	validation_0-logloss:0.59516
[92]	validation_0-logloss:0.59459
[93]	validation_0-logloss:0.59401
[94]	validation_0-logloss:0.59326
[95]	validation_0-logloss:0.59251
[96]	validation_0-logloss:0.59181
[97]	validation_0-logloss:0.59105
[98]	validation_0-logloss:0.59065
[99]	validation_0-logloss:0.59026
[100]	validation_0-logloss:0.58909
[101]	validation_0-logloss:0.58851
[102]	validation_0-logloss:0.58783
[103]	validation_0-logloss:0.58731
[104]	validation_0-logloss:0.58619
[105]	validation_0-logloss:0.58552
[106]	validation_0-logloss:0.58548
[107]	validation_0-logloss:0.58542
[108]	validation_0-logloss:0.58512
[109]	validation_0-logloss:0.58399
[110]	validation_0-logloss:0.58346
[111]	validation_0-logloss:0.58275
[112]	validation_0-logloss:0.58248
[113]	validation_0-logloss:0.58201
[114]	validation_0-logloss:0.58173
[115]	validation_0-logloss:0.58097
[116]	validation_0-logloss:0.58044
[117]	validation_0-logloss:0.57947
[118]	validation_0-logloss:0.57942
[119]	validation_0-logloss:0.57870
[120]	validation_0-logloss:0.57817
[121]	validation_0-logloss:0.57783
[122]	validation_0-logloss:0.57710
[123]	validation_0-logloss:0.57654
[124]	validation_0-logloss:0.57590
[125]	validation_0-logloss:0.57558
[126]	validation_0-logloss:0.57517
[127]	validation_0-logloss:0.57487
[128]	validation_0-logloss:0.57463
[129]	validation_0-logloss:0.57397
[130]	validation_0-logloss:0.57305
[131]	validation_0-logloss:0.57302
[132]	validation_0-logloss:0.57248
[133]	validation_0-logloss:0.57224
[134]	validation_0-logloss:0.57183
[135]	validation_0-logloss:0.57119
[136]	validation_0-logloss:0.57068
[137]	validation_0-logloss:0.57041
[138]	validation_0-logloss:0.56993
[139]	validation_0-logloss:0.56932
[140]	validation_0-logloss:0.56905
[141]	validation_0-logloss:0.56840
[142]	validation_0-logloss:0.56813
[143]	validation_0-logloss:0.56758
[144]	validation_0-logloss:0.56741
[145]	validation_0-logloss:0.56720
[146]	validation_0-logloss:0.56717
[147]	validation_0-logloss:0.56657
[148]	validation_0-logloss:0.56626
[149]	validation_0-logloss:0.56592
[150]	validation_0-logloss:0.56507
[151]	validation_0-logloss:0.56472
[152]	validation_0-logloss:0.56388
[153]	validation_0-logloss:0.56372
[154]	validation_0-logloss:0.56352
[155]	validation_0-logloss:0.56335
[156]	validation_0-logloss:0.56307
[157]	validation_0-logloss:0.56282
[158]	validation_0-logloss:0.56252
[159]	validation_0-logloss:0.56199
[160]	validation_0-logloss:0.56153
[161]	validation_0-logloss:0.56130
[162]	validation_0-logloss:0.56076
[163]	validation_0-logloss:0.56073
[164]	validation_0-logloss:0.55996
[165]	validation_0-logloss:0.55993
[166]	validation_0-logloss:0.55973
[167]	validation_0-logloss:0.55954
[168]	validation_0-logloss:0.55938
[169]	validation_0-logloss:0.55905
[170]	validation_0-logloss:0.55856
[171]	validation_0-logloss:0.55781
[172]	validation_0-logloss:0.55736
[173]	validation_0-logloss:0.55733
[174]	validation_0-logloss:0.55659
[175]	validation_0-logloss:0.55621
[176]	validation_0-logloss:0.55584
[177]	validation_0-logloss:0.55584
[178]	validation_0-logloss:0.55542
[179]	validation_0-logloss:0.55518
[180]	validation_0-logloss:0.55477
[181]	validation_0-logloss:0.55462
[182]	validation_0-logloss:0.55390
[183]	validation_0-logloss:0.55376
[184]	validation_0-logloss:0.55347
[185]	validation_0-logloss:0.55308
[186]	validation_0-logloss:0.55258
[187]	validation_0-logloss:0.55229
[188]	validation_0-logloss:0.55186
[189]	validation_0-logloss:0.55136
[190]	validation_0-logloss:0.55089
[191]	validation_0-logloss:0.55072
[192]	validation_0-logloss:0.55031
[193]	validation_0-logloss:0.54991
[194]	validation_0-logloss:0.54991
[195]	validation_0-logloss:0.54978
[196]	validation_0-logloss:0.54938
[197]	validation_0-logloss:0.54895
[198]	validation_0-logloss:0.54855
[199]	validation_0-logloss:0.54819
[200]	validation_0-logloss:0.54789
[201]	validation_0-logloss:0.54780
[202]	validation_0-logloss:0.54746
[203]	validation_0-logloss:0.54731
[204]	validation_0-logloss:0.54719
[205]	validation_0-logloss:0.54703
[206]	validation_0-logloss:0.54680
[207]	validation_0-logloss:0.54654
[208]	validation_0-logloss:0.54605
[209]	validation_0-logloss:0.54593
[210]	validation_0-logloss:0.54558
[211]	validation_0-logloss:0.54490
[212]	validation_0-logloss:0.54470
[213]	validation_0-logloss:0.54459
[214]	validation_0-logloss:0.54450
[215]	validation_0-logloss:0.54450
[216]	validation_0-logloss:0.54418
[217]	validation_0-logloss:0.54405
[218]	validation_0-logloss:0.54394
[219]	validation_0-logloss:0.54372
[220]	validation_0-logloss:0.54339
[221]	validation_0-logloss:0.54306
[222]	validation_0-logloss:0.54248
[223]	validation_0-logloss:0.54227
[224]	validation_0-logloss:0.54205
[225]	validation_0-logloss:0.54185
[226]	validation_0-logloss:0.54128
[227]	validation_0-logloss:0.54114
[228]	validation_0-logloss:0.54065
[229]	validation_0-logloss:0.54041
[230]	validation_0-logloss:0.54003
[231]	validation_0-logloss:0.53988
[232]	validation_0-logloss:0.53959

[233]	validation_0-logloss:0.53937
[234]	validation_0-logloss:0.53937
[235]	validation_0-logloss:0.53908
[236]	validation_0-logloss:0.53906
[237]	validation_0-logloss:0.53899
[238]	validation_0-logloss:0.53862
[239]	validation_0-logloss:0.53854
[240]	validation_0-logloss:0.53842
[241]	validation_0-logloss:0.53833
[242]	validation_0-logloss:0.53781
[243]	validation_0-logloss:0.53752
[244]	validation_0-logloss:0.53702
[245]	validation_0-logloss:0.53686
[246]	validation_0-logloss:0.53671
[247]	validation_0-logloss:0.53662
[248]	validation_0-logloss:0.53645
[249]	validation_0-logloss:0.53634
[250]	validation_0-logloss:0.53625
[251]	validation_0-logloss:0.53609
[252]	validation_0-logloss:0.53589
[253]	validation_0-logloss:0.53583
[254]	validation_0-logloss:0.53566
[255]	validation_0-logloss:0.53566
[256]	validation_0-logloss:0.53566
[257]	validation_0-logloss:0.53512
[258]	validation_0-logloss:0.53504
[259]	validation_0-logloss:0.53466
[260]	validation_0-logloss:0.53454
[261]	validation_0-logloss:0.53450
[262]	validation_0-logloss:0.53436
[263]	validation_0-logloss:0.53423
[264]	validation_0-logloss:0.53418
[265]	validation_0-logloss:0.53410
[266]	validation_0-logloss:0.53380
[267]	validation_0-logloss:0.53380
[268]	validation_0-logloss:0.53375
[269]	validation_0-logloss:0.53360
[270]	validation_0-logloss:0.53337
[271]	validation_0-logloss:0.53327
[272]	validation_0-logloss:0.53300
[273]	validation_0-logloss:0.53285
[274]	validation_0-logloss:0.53262
[275]	validation_0-logloss:0.53251
[276]	validation_0-logloss:0.53231
[277]	validation_0-logloss:0.53226
[278]	validation_0-logloss:0.53219
[279]	validation_0-logloss:0.53178
[280]	validation_0-logloss:0.53152
[281]	validation_0-logloss:0.53140
[282]	validation_0-logloss:0.53130
[283]	validation_0-logloss:0.53128
[284]	validation_0-logloss:0.53103
[285]	validation_0-logloss:0.53088
[286]	validation_0-logloss:0.53062
[287]	validation_0-logloss:0.53062
[288]	validation_0-logloss:0.53041
[289]	validation_0-logloss:0.53028
[290]	validation_0-logloss:0.53004
[291]	validation_0-logloss:0.52978
[292]	validation_0-logloss:0.52941
[293]	validation_0-logloss:0.52930
[294]	validation_0-logloss:0.52918
[295]	validation_0-logloss:0.52900
[296]	validation_0-logloss:0.52880
[297]	validation_0-logloss:0.52880
[298]	validation_0-logloss:0.52860
[299]	validation_0-logloss:0.52821
[300]	validation_0-logloss:0.52801
[301]	validation_0-logloss:0.52778
[302]	validation_0-logloss:0.52745
[303]	validation_0-logloss:0.52733
[304]	validation_0-logloss:0.52722
[305]	validation_0-logloss:0.52717
[306]	validation_0-logloss:0.52705
[307]	validation_0-logloss:0.52687
[308]	validation_0-logloss:0.52679
[309]	validation_0-logloss:0.52646
[310]	validation_0-logloss:0.52642
[311]	validation_0-logloss:0.52608
[312]	validation_0-logloss:0.52603
[313]	validation_0-logloss:0.52584
[314]	validation_0-logloss:0.52575
[315]	validation_0-logloss:0.52554
[316]	validation_0-logloss:0.52537
[317]	validation_0-logloss:0.52507
[318]	validation_0-logloss:0.52485
[319]	validation_0-logloss:0.52472
[320]	validation_0-logloss:0.52460
[321]	validation_0-logloss:0.52452
[322]	validation_0-logloss:0.52420
[323]	validation_0-logloss:0.52417
[324]	validation_0-logloss:0.52398
[325]	validation_0-logloss:0.52382
[326]	validation_0-logloss:0.52352
[327]	validation_0-logloss:0.52344
[328]	validation_0-logloss:0.52340
[329]	validation_0-logloss:0.52333
[330]	validation_0-logloss:0.52318
[331]	validation_0-logloss:0.52318
[332]	validation_0-logloss:0.52289
[333]	validation_0-logloss:0.52267
[334]	validation_0-logloss:0.52237
[335]	validation_0-logloss:0.52237
[336]	validation_0-logloss:0.52223
[337]	validation_0-logloss:0.52211
[338]	validation_0-logloss:0.52203
[339]	validation_0-logloss:0.52193
[340]	validation_0-logloss:0.52186
[341]	validation_0-logloss:0.52169
[342]	validation_0-logloss:0.52148
[343]	validation_0-logloss:0.52133
[344]	validation_0-logloss:0.52125
[345]	validation_0-logloss:0.52114
[346]	validation_0-logloss:0.52104
[347]	validation_0-logloss:0.52084
[348]	validation_0-logloss:0.52077
[349]	validation_0-logloss:0.52073
[350]	validation_0-logloss:0.52073
[351]	validation_0-logloss:0.52041
[352]	validation_0-logloss:0.52038
[353]	validation_0-logloss:0.52029
[354]	validation_0-logloss:0.52022
[355]	validation_0-logloss:0.52010
[356]	validation_0-logloss:0.52005
[357]	validation_0-logloss:0.51996
[358]	validation_0-logloss:0.51986
[359]	validation_0-logloss:0.51982
[360]	validation_0-logloss:0.51955
[361]	validation_0-logloss:0.51948
[362]	validation_0-logloss:0.51941
[363]	validation_0-logloss:0.51915
[364]	validation_0-logloss:0.51900
[365]	validation_0-logloss:0.51871
[366]	validation_0-logloss:0.51863
[367]	validation_0-logloss:0.51854
[368]	validation_0-logloss:0.51846
[369]	validation_0-logloss:0.51824
[370]	validation_0-logloss:0.51796
[371]	validation_0-logloss:0.51789
[372]	validation_0-logloss:0.51764
[373]	validation_0-logloss:0.51746
[374]	validation_0-logloss:0.51742
[375]	validation_0-logloss:0.51739
[376]	validation_0-logloss:0.51715
[377]	validation_0-logloss:0.51701
[378]	validation_0-logloss:0.51695
[379]	validation_0-logloss:0.51677
[380]	validation_0-logloss:0.51652
[381]	validation_0-logloss:0.51643
[382]	validation_0-logloss:0.51643
[383]	validation_0-logloss:0.51635
[384]	validation_0-logloss:0.51635
[385]	validation_0-logloss:0.51633
[386]	validation_0-logloss:0.51624
[387]	validation_0-logloss:0.51622
[388]	validation_0-logloss:0.51600
[389]	validation_0-logloss:0.51601
[390]	validation_0-logloss:0.51596
[391]	validation_0-logloss:0.51596
[392]	validation_0-logloss:0.51583
[393]	validation_0-logloss:0.51577
[394]	validation_0-logloss:0.51569
[395]	validation_0-logloss:0.51569
[396]	validation_0-logloss:0.51566
[397]	validation_0-logloss:0.51552
[398]	validation_0-logloss:0.51538
[399]	validation_0-logloss:0.51531
[400]	validation_0-logloss:0.51522
[401]	validation_0-logloss:0.51513
[402]	validation_0-logloss:0.51502
[403]	validation_0-logloss:0.51498
[404]	validation_0-logloss:0.51488
[405]	validation_0-logloss:0.51483
[406]	validation_0-logloss:0.51465
[407]	validation_0-logloss:0.51458
[408]	validation_0-logloss:0.51455
[409]	validation_0-logloss:0.51440
[410]	validation_0-logloss:0.51428
[411]	validation_0-logloss:0.51426
[412]	validation_0-logloss:0.51424
[413]	validation_0-logloss:0.51421
[414]	validation_0-logloss:0.51414
[415]	validation_0-logloss:0.51414
[416]	validation_0-logloss:0.51414
[417]	validation_0-logloss:0.51414
[418]	validation_0-logloss:0.51411
[419]	validation_0-logloss:0.51391
[420]	validation_0-logloss:0.51384
[421]	validation_0-logloss:0.51377
[422]	validation_0-logloss:0.51369
[423]	validation_0-logloss:0.51365
[424]	validation_0-logloss:0.51358
[425]	validation_0-logloss:0.51337
[426]	validation_0-logloss:0.51337
[427]	validation_0-logloss:0.51326
[428]	validation_0-logloss:0.51321
[429]	validation_0-logloss:0.51318
[430]	validation_0-logloss:0.51309
[431]	validation_0-logloss:0.51293
[432]	validation_0-logloss:0.51272
[433]	validation_0-logloss:0.51268
[434]	validation_0-logloss:0.51262
[435]	validation_0-logloss:0.51251
[436]	validation_0-logloss:0.51242
[437]	validation_0-logloss:0.51235
[438]	validation_0-logloss:0.51235
[439]	validation_0-logloss:0.51228
[440]	validation_0-logloss:0.51220
[441]	validation_0-logloss:0.51211
[442]	validation_0-logloss:0.51190
[443]	validation_0-logloss:0.51179
[444]	validation_0-logloss:0.51171
[445]	validation_0-logloss:0.51153
[446]	validation_0-logloss:0.51153
[447]	validation_0-logloss:0.51142
[448]	validation_0-logloss:0.51120
[449]	validation_0-logloss:0.51111
[450]	validation_0-logloss:0.51101
[451]	validation_0-logloss:0.51090
[452]	validation_0-logloss:0.51082
[453]	validation_0-logloss:0.51074
[454]	validation_0-logloss:0.51056
[455]	validation_0-logloss:0.51050
[456]	validation_0-logloss:0.51042
[457]	validation_0-logloss:0.51042
[458]	validation_0-logloss:0.51029
[459]	validation_0-logloss:0.51025
[460]	validation_0-logloss:0.51019
[461]	validation_0-logloss:0.51012
[462]	validation_0-logloss:0.51008
[463]	validation_0-logloss:0.51006
[464]	validation_0-logloss:0.51000
[465]	validation_0-logloss:0.50990
[466]	validation_0-logloss:0.50987
[467]	validation_0-logloss:0.50977

[468]	validation_0-logloss:0.50973
[469]	validation_0-logloss:0.50964
[470]	validation_0-logloss:0.50964
[471]	validation_0-logloss:0.50946
[472]	validation_0-logloss:0.50944
[473]	validation_0-logloss:0.50941
[474]	validation_0-logloss:0.50933
[475]	validation_0-logloss:0.50933
[476]	validation_0-logloss:0.50927
[477]	validation_0-logloss:0.50919
[478]	validation_0-logloss:0.50918
[479]	validation_0-logloss:0.50915
[480]	validation_0-logloss:0.50908
[481]	validation_0-logloss:0.50896
[482]	validation_0-logloss:0.50896
[483]	validation_0-logloss:0.50896
[484]	validation_0-logloss:0.50891
[485]	validation_0-logloss:0.50886
[486]	validation_0-logloss:0.50883
[487]	validation_0-logloss:0.50877
[488]	validation_0-logloss:0.50876
[489]	validation_0-logloss:0.50860
[490]	validation_0-logloss:0.50847
[491]	validation_0-logloss:0.50842
[492]	validation_0-logloss:0.50840
[493]	validation_0-logloss:0.50833
[494]	validation_0-logloss:0.50832
[495]	validation_0-logloss:0.50827
[496]	validation_0-logloss:0.50814
[497]	validation_0-logloss:0.50812
[498]	validation_0-logloss:0.50812
[499]	validation_0-logloss:0.50812
[500]	validation_0-logloss:0.50808
[501]	validation_0-logloss:0.50803
[502]	validation_0-logloss:0.50800
[503]	validation_0-logloss:0.50800
[504]	validation_0-logloss:0.50796
[505]	validation_0-logloss:0.50796
[506]	validation_0-logloss:0.50792
[507]	validation_0-logloss:0.50792
[508]	validation_0-logloss:0.50791
[509]	validation_0-logloss:0.50789
[510]	validation_0-logloss:0.50781
[511]	validation_0-logloss:0.50774
[512]	validation_0-logloss:0.50761
[513]	validation_0-logloss:0.50761
[514]	validation_0-logloss:0.50754
[515]	validation_0-logloss:0.50750
[516]	validation_0-logloss:0.50738
[517]	validation_0-logloss:0.50738
[518]	validation_0-logloss:0.50736
[519]	validation_0-logloss:0.50736
[520]	validation_0-logloss:0.50732
[521]	validation_0-logloss:0.50732
[522]	validation_0-logloss:0.50732
[523]	validation_0-logloss:0.50730
[524]	validation_0-logloss:0.50724
[525]	validation_0-logloss:0.50720
[526]	validation_0-logloss:0.50714
[527]	validation_0-logloss:0.50715
[528]	validation_0-logloss:0.50710
[529]	validation_0-logloss:0.50702
[530]	validation_0-logloss:0.50702
[531]	validation_0-logloss:0.50694
[532]	validation_0-logloss:0.50689
[533]	validation_0-logloss:0.50678
[534]	validation_0-logloss:0.50674
[535]	validation_0-logloss:0.50669
[536]	validation_0-logloss:0.50659
[537]	validation_0-logloss:0.50656
[538]	validation_0-logloss:0.50654
[539]	validation_0-logloss:0.50647
[540]	validation_0-logloss:0.50644
[541]	validation_0-logloss:0.50636
[542]	validation_0-logloss:0.50632
[543]	validation_0-logloss:0.50619
[544]	validation_0-logloss:0.50610
[545]	validation_0-logloss:0.50610
[546]	validation_0-logloss:0.50608
[547]	validation_0-logloss:0.50601
[548]	validation_0-logloss:0.50598
[549]	validation_0-logloss:0.50598
[550]	validation_0-logloss:0.50593
[551]	validation_0-logloss:0.50593
[552]	validation_0-logloss:0.50586
[553]	validation_0-logloss:0.50578
[554]	validation_0-logloss:0.50576
[555]	validation_0-logloss:0.50563
[556]	validation_0-logloss:0.50563
[557]	validation_0-logloss:0.50562
[558]	validation_0-logloss:0.50562
[559]	validation_0-logloss:0.50560
[560]	validation_0-logloss:0.50558
[561]	validation_0-logloss:0.50558
[562]	validation_0-logloss:0.50546
[563]	validation_0-logloss:0.50546
[564]	validation_0-logloss:0.50543
[565]	validation_0-logloss:0.50543
[566]	validation_0-logloss:0.50541
[567]	validation_0-logloss:0.50536
[568]	validation_0-logloss:0.50533
[569]	validation_0-logloss:0.50526
[570]	validation_0-logloss:0.50526
[571]	validation_0-logloss:0.50518
[572]	validation_0-logloss:0.50512
[573]	validation_0-logloss:0.50507
[574]	validation_0-logloss:0.50507
[575]	validation_0-logloss:0.50494
[576]	validation_0-logloss:0.50494
[577]	validation_0-logloss:0.50491
[578]	validation_0-logloss:0.50489
[579]	validation_0-logloss:0.50489
[580]	validation_0-logloss:0.50489
[581]	validation_0-logloss:0.50483
[582]	validation_0-logloss:0.50479
[583]	validation_0-logloss:0.50475
[584]	validation_0-logloss:0.50475
[585]	validation_0-logloss:0.50466
[586]	validation_0-logloss:0.50460
[587]	validation_0-logloss:0.50460
[588]	validation_0-logloss:0.50456
[589]	validation_0-logloss:0.50453
[590]	validation_0-logloss:0.50450
[591]	validation_0-logloss:0.50446
[592]	validation_0-logloss:0.50439
[593]	validation_0-logloss:0.50438
[594]	validation_0-logloss:0.50435
[595]	validation_0-logloss:0.50435
[596]	validation_0-logloss:0.50435
[597]	validation_0-logloss:0.50435
[598]	validation_0-logloss:0.50435
[599]	validation_0-logloss:0.50434
[600]	validation_0-logloss:0.50433
[601]	validation_0-logloss:0.50433
[602]	validation_0-logloss:0.50432
[603]	validation_0-logloss:0.50430
[604]	validation_0-logloss:0.50425
[605]	validation_0-logloss:0.50418
[606]	validation_0-logloss:0.50416
[607]	validation_0-logloss:0.50415
[608]	validation_0-logloss:0.50411
[609]	validation_0-logloss:0.50411
[610]	validation_0-logloss:0.50409
[611]	validation_0-logloss:0.50403
[612]	validation_0-logloss:0.50401
[613]	validation_0-logloss:0.50401
[614]	validation_0-logloss:0.50400
[615]	validation_0-logloss:0.50399
[616]	validation_0-logloss:0.50396
[617]	validation_0-logloss:0.50396
[618]	validation_0-logloss:0.50391
[619]	validation_0-logloss:0.50391
[620]	validation_0-logloss:0.50390
[621]	validation_0-logloss:0.50388
[622]	validation_0-logloss:0.50387
[623]	validation_0-logloss:0.50380
[624]	validation_0-logloss:0.50374
[625]	validation_0-logloss:0.50374
[626]	validation_0-logloss:0.50372
[627]	validation_0-logloss:0.50371
[628]	validation_0-logloss:0.50371
[629]	validation_0-logloss:0.50371
[630]	validation_0-logloss:0.50371
[631]	validation_0-logloss:0.50367
[632]	validation_0-logloss:0.50366
[633]	validation_0-logloss:0.50362
[634]	validation_0-logloss:0.50362
[635]	validation_0-logloss:0.50359
[636]	validation_0-logloss:0.50354
[637]	validation_0-logloss:0.50351
[638]	validation_0-logloss:0.50350
[639]	validation_0-logloss:0.50350
[640]	validation_0-logloss:0.50342
[641]	validation_0-logloss:0.50341
[642]	validation_0-logloss:0.50341
[643]	validation_0-logloss:0.50335
[644]	validation_0-logloss:0.50327
[645]	validation_0-logloss:0.50322
[646]	validation_0-logloss:0.50320
[647]	validation_0-logloss:0.50320
[648]	validation_0-logloss:0.50315
[649]	validation_0-logloss:0.50310
[650]	validation_0-logloss:0.50310
[651]	validation_0-logloss:0.50308
[652]	validation_0-logloss:0.50307
[653]	validation_0-logloss:0.50307
[654]	validation_0-logloss:0.50307
[655]	validation_0-logloss:0.50307
[656]	validation_0-logloss:0.50307
[657]	validation_0-logloss:0.50300
[658]	validation_0-logloss:0.50300
[659]	validation_0-logloss:0.50290
[660]	validation_0-logloss:0.50287
[661]	validation_0-logloss:0.50287
[662]	validation_0-logloss:0.50281
[663]	validation_0-logloss:0.50278
[664]	validation_0-logloss:0.50273
[665]	validation_0-logloss:0.50274
[666]	validation_0-logloss:0.50274
[667]	validation_0-logloss:0.50274
[668]	validation_0-logloss:0.50274
[669]	validation_0-logloss:0.50265
[670]	validation_0-logloss:0.50265
[671]	validation_0-logloss:0.50265
[672]	validation_0-logloss:0.50265
[673]	validation_0-logloss:0.50265
[674]	validation_0-logloss:0.50258
[675]	validation_0-logloss:0.50258
[676]	validation_0-logloss:0.50258
[677]	validation_0-logloss:0.50258
[678]	validation_0-logloss:0.50252
[679]	validation_0-logloss:0.50248
[680]	validation_0-logloss:0.50248
[681]	validation_0-logloss:0.50248
[682]	validation_0-logloss:0.50247
[683]	validation_0-logloss:0.50247
[684]	validation_0-logloss:0.50237
[685]	validation_0-logloss:0.50237
[686]	validation_0-logloss:0.50237
[687]	validation_0-logloss:0.50236
[688]	validation_0-logloss:0.50229
[689]	validation_0-logloss:0.50229
[690]	validation_0-logloss:0.50229
[691]	validation_0-logloss:0.50227
[692]	validation_0-logloss:0.50224
[693]	validation_0-logloss:0.50221
[694]	validation_0-logloss:0.50221
[695]	validation_0-logloss:0.50221
[696]	validation_0-logloss:0.50216
[697]	validation_0-logloss:0.50216
[698]	validation_0-logloss:0.50213
[699]	validation_0-logloss:0.50212
[700]	validation_0-logloss:0.50208
[701]	validation_0-logloss:0.50206
[702]	validation_0-logloss:0.50201

[703]	validation_0-logloss:0.50201
[704]	validation_0-logloss:0.50197
[705]	validation_0-logloss:0.50197
[706]	validation_0-logloss:0.50189
[707]	validation_0-logloss:0.50189
[708]	validation_0-logloss:0.50189
[709]	validation_0-logloss:0.50189
[710]	validation_0-logloss:0.50189
[711]	validation_0-logloss:0.50189
[712]	validation_0-logloss:0.50189
[713]	validation_0-logloss:0.50189
[714]	validation_0-logloss:0.50185
[715]	validation_0-logloss:0.50185
[716]	validation_0-logloss:0.50185
[717]	validation_0-logloss:0.50185
[718]	validation_0-logloss:0.50185
[719]	validation_0-logloss:0.50179
[720]	validation_0-logloss:0.50176
[721]	validation_0-logloss:0.50176
[722]	validation_0-logloss:0.50176
[723]	validation_0-logloss:0.50176
[724]	validation_0-logloss:0.50176
[725]	validation_0-logloss:0.50173
[726]	validation_0-logloss:0.50173
[727]	validation_0-logloss:0.50169
[728]	validation_0-logloss:0.50169
[729]	validation_0-logloss:0.50168
[730]	validation_0-logloss:0.50168
[731]	validation_0-logloss:0.50164
[732]	validation_0-logloss:0.50162
[733]	validation_0-logloss:0.50159
[734]	validation_0-logloss:0.50159
[735]	validation_0-logloss:0.50159
[736]	validation_0-logloss:0.50159
[737]	validation_0-logloss:0.50158
[738]	validation_0-logloss:0.50154
[739]	validation_0-logloss:0.50154
[740]	validation_0-logloss:0.50154
[741]	validation_0-logloss:0.50154
[742]	validation_0-logloss:0.50154
[743]	validation_0-logloss:0.50144
[744]	validation_0-logloss:0.50144
[745]	validation_0-logloss:0.50144
[746]	validation_0-logloss:0.50143
[747]	validation_0-logloss:0.50143
[748]	validation_0-logloss:0.50143
[749]	validation_0-logloss:0.50143
[750]	validation_0-logloss:0.50143
[751]	validation_0-logloss:0.50143
[752]	validation_0-logloss:0.50143
[753]	validation_0-logloss:0.50143
[754]	validation_0-logloss:0.50143
[755]	validation_0-logloss:0.50143
[756]	validation_0-logloss:0.50143
[757]	validation_0-logloss:0.50143

0.7655356462066336

### Predictions XGBoost  # doesn't work we have to merge oscar data to validation and test set first

In [144]:
# Define explanatory (fit into model) and target variables
X = df_validation.drop(['primaryTitle', 'tconst', 'film', 'name', 'movie', 'movie_2'], axis=1)

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Iterate over column names
for column in X:
    if X[column].dtype.kind == 'O':
        X[column]= label_encoder.fit_transform(X[column])
                          

# validation_set = df_validation[['runtimeMinutes', 'numVotes', 'director_1', 'director_1_dum', 'writer_1', 'writer_2', 'director_2']]
predictions_validation = model.predict(X)
pd.DataFrame(predictions_validation).to_csv('validation_results_xgboost.csv', index=False, header=False)

In [148]:
#Each line in these files must consist of either the string True or the string False

test_end = predictions_test.copy()                               
test_end = test_end.astype(bool)          # Transform integer to boolean
pd.DataFrame(test_end).to_csv('test_results_xgboost.csv', index=False, header=False)


validation_end = predictions_validation.copy()                               
validation_end = validation_end.astype(bool)          # Transform integer to boolean
pd.DataFrame(validation_end).to_csv('validation_results_xgboost.csv', index=False, header=False)

In [145]:
# Define explanatory (fit into model) and target variables
X = df_test.drop(['primaryTitle', 'tconst', 'film', 'name', 'movie', 'movie_2'], axis=1)

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Iterate over column names
for column in X:
    if X[column].dtype.kind == 'O':
        X[column]= label_encoder.fit_transform(X[column])
                          

# validation_set = df_validation[['runtimeMinutes', 'numVotes', 'director_1', 'director_1_dum', 'writer_1', 'writer_2', 'director_2']]
predictions_test = model.predict(X)
pd.DataFrame(predictions_test).to_csv('test_results_xgboost.csv', index=False, header=False)

In [126]:
con.close()